@font-face {
  font-family: Supply-Regular;
  src: url("./assets/Supply-Regular.otf") format("opentype");
}

.App {
  text-align: center;
  font-family: Supply-Regular;
  color: white;
}


.container1{
  background-color: #1d1b1c;
}

.header{
  padding-top: 1vw;
  padding-right: 1vw;
}

.login{
  padding-left: 1vw;
  color: #f28e27;
  text-decoration: none;
}

a.login:link, a.login:visited{
  color:#f28e27;
  text-decoration: none;
}

a.login:hover, a.login:active{
  color: white;
}


@media (max-width: 978px) {
  .header {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2vw;
  padding-bottom: 1vw;
  }
}

.row0{
  padding-bottom: 4vw;
}

.logoname{
  padding-top: 1.8vw;
  padding-right: 1vw;
}

@media (max-width: 978px) {
  .row0 {
    padding-top: 2vw;
    padding-bottom:4vw;
  }
}

.row1{
  padding-bottom: 3vw;
}

.text1 {
  font-size: calc(1em + 2.0vw); 
  margin-left: 1.8vw;
  margin-right: 1.8vw;
  margin-bottom: 0;
  margin-top: 0;
}

.row2{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.text2 {
  font-size: calc(1em + 1.5vw); 
}

.row3{
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.graphics{
  padding: 5% 20% 0% 20%;
  margin: 0px auto;
}

.graphics-text{
  padding-top: 5%;
  font-size: calc(1em + 0.5vw);
}

.row5{
  padding-top: 2vw;
  padding-bottom: 5vw;
}

@media (min-width: 978px) {
  .row5{
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .cards{
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.cards{
  padding-bottom: 2vw;
}

.row6{
  padding-bottom: 1vw;
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 3vw;
}
.row7{
  padding-left: 5vw;
  padding-right:5vw;
  padding-bottom: 1vw;
}

.row8{
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.row9{
  padding-bottom:2vw;
}

.row10{
  padding-bottom: 2vw;
}



.container2{
  background-color: #131313;
  color: white;
  text-align: left;
}


.table thead tr th, .table tbody tr td {
  border: none;
}

.table-striped thead{
  background-color: #2d2d2d;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #262427 !important;
  color: white;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #1c1c1c !important;
  color: white;
}

.labels{
  color: #f28e27;
}


.text3{
  font-size: calc(1em + .6vw); 
}

.text4{
  font-size: calc(1em + .15vw); 
}

