@font-face {
  font-family: Supply-Regular;
  src: url("./assets/Supply-Regular.otf") format("opentype");
}

.App {
  text-align: center;
  font-family: Supply-Regular;
  color: white;
}


.container1{
  background-color: rgb(37, 37, 37);
}

.row0{
  padding-top: 1vw;
}

.login{
  padding-left: 1vw;
  padding-right: 1vw;
  color: #f28e27;
  text-decoration: none;
}

a.login:link, a.login:visited{
  color:#f28e27;
  text-decoration: none;
}

a.login:hover, a.login:active{
  color: white;
}


.header{
  padding-top: 3vw;
  margin-bottom: 4vw;
}

.logoname{
  padding-top: 1.5vw;
}

.row1{
  padding-bottom: 3vw;
}

.row2{
  padding-bottom: 1vw;
}


.header-text1 {
  font-size: calc(1em + 1.4vw); 
}

.header-text2 {
  font-size: calc(1em + 1vw); 
}

.header-text3{
  font-size: calc(1em + .6vw); 
}

.header-text4{
  font-size: calc(1em + .15vw); 
}

.cards{
  color: black;
  margin-bottom: -1vw;
  border-radius: 0%;
}

.card-header-img {
  padding-top: 1vw;
  margin: 0px auto;
  height: 8vw;
  object-fit: contain;
}

.row3{
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.row4{
  margin-top: -2vw;
  margin-bottom: 4vw;
}

.row5{
  padding-bottom: 20vw;
  padding-left: 8vw;
  padding-right: 8vw;
  height: 15vw;
}

.row6{
  padding-bottom: 1vw;
  padding-top: 1vw;
  padding-left: 5vw;
}
.row7{
  padding-left: 5vw;
  padding-right:5vw;
  padding-bottom: 1vw;
}

.row8{
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.row9{
  padding-bottom:2vw;
}

.row10{
  padding-bottom: 2vw;
}

.graphics{
  padding: 5% 20% 0% 20%;
  margin: 0px auto;
}

.container2{
  background-color: black;
  color: white;
  text-align: left;
}
.graphics-text{
  color: white;
  font-size: calc(1em + 0.5vw);
}

.labels{
  color: #f28e27;
}

.dotted {
  border: none;
  border-top: 20px dotted green;
}

